{% extends 'home/layout.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block main %}

{% image page.cover_image width-1500 as temp_img %}

<section class="hero hero-with-header pt-10 pb-2 bg-light pattern pattern-dark" style="background-image: url({{ temp_img.file.url }});">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-10">
        <h1 class="text-primary">{{ page.title }}</b></h1>
        <p class="text-white">{{ page.info_text }}</p>
      </div>
    </div>
  </div> 
  <div class="container mt-3">
    <div class="col-lg-10">
  {% for item in page.categories.all %}
    {% if not item.hide %}
    <h4 class="mb-1">
      <b class="text-primary">{{ item.name }}</b>
    </h4>
    <p class="text-dark">{{ item.description }}</p>
    {% endif %}
  {% endfor %}
    </div>
  </div>
</section>

<div class="container pb-5 pt-5">  
  <a class="d-block bg-primary boxed boxed-link p-1 text-white mt-2 mb-4" href="{% pageurl page.featured %}">
    <div class="row align-items-center text-center py-1">
      <div class="col-md-2">
        <h3>{{ page.featured.first_published_at|date:"M j" }}</h3>
      </div>
      <div class="col-md-8 py-2 text-left">
        <h5>{{ page.featured.title }}</h5>
      </div>
      <div class="col-md-2 text-center">
          <i class="icon-arrow-circle-right fs-60 text-white">
        </i>
      </div>
    </div>
  </a>

{% if page.others %}
  <h2 class="mb-2 mt-5 text-dark-blue">
    <b class="text-dark-blue">Previous</b> Questions
  </h2>
{% endif %}

  {% comment %} <div class="col-md-12 pt-3">
    <span id="corona-tags"></span>
  </div>

  <div class="boxed bg-blue p-1 text-white sort-item mb-5 mt-2" data-item-tags="All, Tweede, Derde">
    <div class="row justify-content-between align-items-center text-center py-1">
      <div class="col-md-2">
        <h3>Jan 25</h3>
      </div>
      <div class="col-md-7 py-2">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      </div>
      <div class="col-md-3 text-center">
        <a href="" class="btn btn-white btn-rounded px-3 py-2">
          Find out
        </a>
      </div>
    </div>
  </div>

    {% comment %} <div class="boxed bg-blue p-1 text-white sort-item my-5" data-item-tags="All, Tweede, Derde">
    <div class="row justify-content-between align-items-center text-center py-1">
      <div class="col-md-2">
        <h3>Jan 22</h3>
      </div>
      <div class="col-md-7 py-2">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      </div>
      <div class="col-md-3 text-center">
        <a href="" class="btn btn-white btn-rounded px-3 py-2">
          Find out
        </a>
      </div>
    </div>
  </div> {% endcomment %}

    {% comment %} <div class="boxed bg-blue p-1 text-white sort-item my-5" data-item-tags="All, Eerste, Tweede">
    <div class="row justify-content-between align-items-center text-center py-1">
      <div class="col-md-2">
        <h3>Jan 17</h3>
      </div>
      <div class="col-md-7 py-2">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      </div>
      <div class="col-md-3 text-center">
        <a href="" class="btn btn-white btn-rounded px-3 py-2">
          Find out
        </a>
      </div>
    </div>
  </div> {% endcomment %}

  {% comment %} {% endif %} {% endcomment %}

</div>

{% endblock main %}


{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/tagsort.js' %}"></script>
  <script>

    $(document).ready(function() {

      $(function () {
        $('[data-toggle="tooltip"]').tooltip('show')
      })

      $('#corona-tags').tagSort({
        items:'.sort-item',
        tagElement: 'button',
        itemTagsSeperator: ',',
        tagAttr: 'data-item-tags',
        fadeTime: 500,
        sortAlphabetical: true,
        sortType: 'single',
        reset: '#button-tags-reset'
      });

      // Make sure All tag is first in list!
      let first = $('#corona-tags > button').first();
      let all = $('#corona-tags > button:contains("All"):first');

      $(all).insertBefore(first);
    });
  </script>
{% endblock extra_js %}

  <!-- <div class="bordered bg-light px-3 py-1 mb-5">
    <div class="row justify-content-between align-items-center text-md-left">
      <div class="col-md-2">
        <span class="svg-icon fs-40 text-blue">
          Jan 31
        </span>
      </div>
      <div class="col-md-7">
        <h4>Get in touch with us. Donec sed odio dui. Donec sed odio dui.</h4>
      </div>
      <div class="col-md-3 text-lg-right">
        <a href="/en/news/" class="btn btn-with-ico btn-primary">
          Find out<i class="icon-angle-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="boxed bg-primary px-3 py-1 mb-5">
    <div class="row justify-content-between align-items-center text-md-left">
      <div class="col-md-2">
        <span class="svg-icon fs-40 text-white">
          Jan 31
        </span>
      </div>
      <div class="col-md-7 text-white">
        <h4>Get in touch with us. Donec sed odio dui. Donec sed odio dui.</h4>
      </div>
      <div class="col-md-3 text-lg-right">
        <a href="/en/news/" class="btn btn-with-ico btn-info">
          Find out<i class="icon-angle-right"></i>
        </a>
      </div>
    </div>
  </div> -->