{% extends 'home/layout.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
  {% include 'home/questions/partials/cover.html' with title=page.title img=page.cover_image previous=previous %}

<section class="hero bg-light pt-5">
  <div id="questionspage" class="container mb-5">
    <div class="col-lg-10 offset-lg-1">
    {{ page.content }}
    </div>
  </div>
<section>

{% endblock main %}

{% block extra_js %}
  <script>
    window.onload = function () {

      const getId = (url) => {
          const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
          const match = url.match(regExp);

          return (match && match[2].length === 11) ? match[2] : null;
      };

      const iFrames = $('.hh-embed');

      iFrames.each((index, embed) => {

        const originalUrl = $(embed).attr('src');
        const videoId = getId(originalUrl);

        if (videoId) {
          console.log(`videoId: ${videoId}`);
          $(embed).attr('src', `//www.youtube.com/embed/${videoId}`);
        }
      })
    }
  </script>
{% endblock extra_js %}