{% load wagtailimages_tags wagtailcore_tags %}

<div class="container-fluid my-3">
  <div class="row">
    <div class="col-md-12 offset-lg-1 col-lg-10 px-3">

      {% image item.event.image fill-259x250 as temp_img %}

        <div class="row shadow rounded">
          <div class="col-sm-4 col-md-3 p-0">
            <img class="img-fluid" src="{{ temp_img.url }}" style="filter: brightness(70%)" />
          </div>
          <div class="col-sm-8 col-md-9 py-1 pl-3">
            <h2>{{ item.event.title }}</h2>
            <h5>{{ item.event.date }}</h5>
            <p>{{ item.description }}</p>
            <div class="d-flex">
              <a href="{% pageurl item %}" class="btn btn-with-ico btn-primary mb-2">
                Subscribe! <i class="icon-angle-right"></i>
              </a>
            </div>
          </div>

        </div>
  
    </div>
  </div>
</div>