{% extends 'home/layout.html' %}

{% block main %}

    <!-- team -->
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <span class="eyebrow d-block mb-1 text-primary">Our Creative Team</span>
            <p class="lead text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quidem harum sapiente dolorem explicabo animi quo.</p>
          </div>
        </div>
        <div class="row gutter-0">
          <div class="col-md-4">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-1.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-2.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-3.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-4.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-5.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-6.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-7.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
            <figure class="user">
              <a href="" class="user-photo">
                <img src="../../assets/images/demo/user-8.jpg" alt="Avatar">
              </a>
              <figcaption class="user-caption">
                <h4>John Doe</h4>
                <span>Head of Experience Design</span>
                <ul class="socials bordered">
                  <li><a href="" class="icon-facebook fs-20"></a></li>
                  <li><a href="" class="icon-instagram fs-20"></a></li>
                  <li><a href="" class="icon-twitter fs-20"></a></li>
                  <li><a href="" class="icon-linkedin fs-20"></a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- / team -->

{% endblock main %}