{% extends 'home/layout.html' %}

{% load home_tags wagtailcore_tags wagtailimages_tags %}

{% block main %}

  <section class="hero hero-with-header pt-10 pb-5">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">{{ page.title }}</b></h1>
          <p>{{ page.introduction }}</p>
        </div>
      </div>
    </div>    
  </section>
  <section class="pt-3 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="masonry row gutter-2">
          {% for item in page.blogs %}
            {% image item.cover_image width-500 as img %}
            <li class="col-sm-6 col-md-4 col-lg-3">
              <article class="tile {% random_tile %}">
                <div class="tile-image" style="background-image: url({{ img.url }}); filter:brightness(75%);"></div>
                <a href="{% pageurl item %}">
                  <div class="tile-footer">
                    <h3 class="text-white">{{ item.title }}</h3>
                  </div>
                </a>
              </article>
            </li>
          {% endfor %}
          </ul>
        </div> 
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">{{ page.press_title }}</b></h1>
          <p>{{ page.press_text }}</p>
        </div>
      </div>
    </div>    
  </section>
  <section class="pt-3 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="masonry row gutter-2">
          {% for item in page.press_articles.all %}
            {% image item.cover_image width-500 as img %}
            <p>{{ item }}</p>
          {% endfor %}
          </ul>
        </div> 
      </div>
    </div>
  </section>

{% endblock main %}