{% extends 'home/layout.html' %}

{% load static %}

{% block main %}

  <!-- right sidebar -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="masonry row gutter-2">
          {% for item in blogs %}
            <li class="col-md-6 col-lg-4">
              <article class="tile">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-1.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
          {% endfor %}
            <li class="col-md-6 col-lg-4">
              <article class="tile">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-1.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
            <li class="col-md-6 col-lg-4">
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-2.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
            <li class="col-md-6 col-lg-4">
              <article class="tile">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-3.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
            <li class="col-md-6 col-lg-4">
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-4.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
            <li class="col-md-6 col-lg-4">
              <article class="tile tile-long">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-5.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
            <li class="col-md-6 col-lg-4">
              <article class="tile">
                <div class="tile-image" style="background-image: url({% static 'images/demo/image-6.jpg' %})"></div>
                <a href="">
                  <div class="tile-footer">
                    <span class="eyebrow mb-1">Design</span>
                    <h3>Quick guide on traveling with friends.</h3>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </section>
  <!-- / right sidebar -->

{% endblock main %}