{% extends 'home/layout.html' %}

{% load wagtailcore_tags %}

{% block main %}
<section class="hero hero-with-header pt-10">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">{{ page.title }}</b></h1>
          <p>{{ page.introduction }}</p>
        </div>
      </div>
    </div>    
  </section>
  <section class="py-0">
    {% for block in page.content %}
      {% include_block block %}
    {% endfor %}
  </section>
{% endblock main %}