{% extends 'home/layout.html' %}

{% load static wagtailimages_tags %}

{% block main %}

  <!-- cover -->
{% if page.cover_images %}
  <section class="p-0">
    <div 
      class="swiper-container text-white"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(250px);"
    >
      <div class="swiper-wrapper">
        {% for image in page.cover_images.all %}
        <div class="swiper-slide vh-100">
          <div class="image image-overlay image-blur" style="background-image:url({{ image.image.file.url }})"></div>
          <div class="caption">
            <div class="container">
              <div class="row justify-content-between vh-100">
                <div class="col-md-8 align-self-center" data-swiper-parallax-y="-250%">
                  <h1 class="display-2 font-weight-bold text-uppercase">{{ image.caption }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>        
        {% endfor %}
        <div class="swiper-footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col text-center">
                <div class="mouse"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-vertical"></div>
    </div>
  </section>
  <!-- / cover -->
{% endif %}

{% if page.discover_link %}
  {% include 'home/partials/cta.html' with title=page.discover_title subtitle=page.discover_text link=page.discover_link %}
{% endif %}

{% if latest_articles %}
  {% include 'home/partials/news_widget.html' with list=latest_articles %}
{% endif %}


  <!-- presentation -->
  {% comment %} <section class="section-lg">
    <div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-12 col-lg-9">
          <div class="row">
            <div class="col-lg-8">
              <h2>A good place <br>to build your startup.</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="row gutter-0">
            <div class="col-sm-6 col-lg-4">
              <div class="bordered rising p-3">
                <i class="icon-maximize text-green fs-40 mb-3"></i>
                <h4 class="mb-0">1000 ft<sup>2</sup></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="bordered rising p-3">
                <i class="icon-users2 text-green fs-40 mb-3"></i>
                <h4 class="mb-0">80</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="bordered rising p-3">
                <i class="icon-wifi2 text-green fs-40 mb-3"></i>
                <h4 class="mb-0">100mb</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 presentation presentation-responsive">
          <img class="left-25 vertical-align" src="{% static 'images/demo/stock/plant.png' %}" alt="Image">
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <!-- / presentation -->

{% endblock main %}
