{% extends 'home/layout.html' %}

{% load static wagtailimages_tags %}

{% block main %}

<!-- cover -->
<section class="p-0">
  <div 
    class="swiper-container text-white"
    data-top-top="transform: translateY(0px);" 
    data-top-bottom="transform: translateY(250px);"
  >
    <div class="swiper-wrapper">
    {% if user.is_authenticated %}
        <!-- video (not visble on small screen sizes)-->
        <div class="swiper-slide vh-100 d-none d-sm-block">
          <div class="image image-overlay">
            <video autoplay muted loop id="videoreel">    
              <source src="{{ page.video.file.url }}" type="video/mp4">
            </video>
          </div>
        </div>

        <!-- intro image (available on smartphone screen size only)-->
        <div class="swiper-slide vh-80 d-block d-sm-none ">
            {% image page.cover_images.all.0.image width-800 as cover_image %}
          <div class="image image-overlay" style="background-image:url({{ cover_image.url }})"></div>
          <div class="caption">
            <div class="container">
              <div class="row justify-content-between vh-80">
                <div class="col-md-8 offset-md-2 align-self-center" data-swiper-parallax-y="-250%">
                  {% image page.logo original as img_logo %}
                  <div 
                    class="vh-25" 
                    style="
                      background-image:url({{ img_logo.image.file.url }});
                      background-size:contain;
                      background-repeat:no-repeat;
                      background-position:center;
                    "
                  >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
    {% else %}

      {% for item in page.cover_images.all %}
      <div class="swiper-slide vh-80">
          {% image item.image width-1800 as cover_image %}
        <div class="image image-overlay" style="background-image:url({{ cover_image.url }})"></div>
        <div class="caption">
          <div class="container">
            <div class="row justify-content-between vh-80">
              <div class="col-md-8 offset-md-2 align-self-center" data-swiper-parallax-y="-250%">
                {% image page.logo original as img_logo %}
                <div 
                  class="vh-25" 
                  style="
                    background-image:url({{ img_logo.image.file.url }});
                    background-size:contain;
                    background-repeat:no-repeat;
                    background-position:center;
                  "
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
      {% endfor %}
    {% endif %}
      <div class="swiper-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / cover -->

{% include 'home/partials/cta.html' with page=page %}

{% if page.features.all %}
  {% include 'home/partials/features.html' with list=page.features.all title=page.feature_title %}
{% endif %}

{% if page.recent_visitors.all %}
  {% include 'home/partials/visitors.html' with list=page.recent_visitors.all title=page.visit_title info_text=page.visit_text %}
{% endif %}

{% if page.latest_articles %}
  {% include 'home/partials/home_masonry.html' with list=page.latest_articles %}
{% endif %}

{% if page.testimonials.all %}
  {% include 'home/partials/testimonials.html' with list=page.testimonials.all %}
{% endif %}

{% include 'home/partials/events_widget.html' with list=page.upcoming_events %}

{% if user.is_authenticated %}
  {% include 'home/partials/news_letter.html' with title=page.newsletter_title info_text=page.newsletter_info %} <!-- needs to be refactored! (modal + footer!)-->
{% endif %}

<!-- MODAL -->
<div class="modal fade" id="cta-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- mailchimp news letter  -->
  <form action="mailchimp/" method="POST" id="mailchimp-form">
           
  {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center pb-0">
          <button type="button" class="close close-absolute" data-dismiss="modal" aria-label="Close" style="margin-top: -22px; margin-right: -22px;">
            <span aria-hidden="true" class="icon-x"></span>
          </button>
          <h3 class="mb-0 text-dark-blue">{{ page.mailform_title }}</h3>
          <p>
            {{ page.mailform_text }}
          </p>
          <div>
            <div class="input-group align-self-center">
              <input type="email" autocapitalize="off" autocorrect="off" name="email_address" id="email_address" value="" placeholder="Email" aria-describedby="basic-addon2" class="form-control text-primary">
              <div class="input-group-append">
                <span class="input-group-text bg-primary text-white" id="basic-addon2">@</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer gutter-1">
          <div class="container-fluid">
            <div class="row gutter-1">
              <div class="col-12">
                <button type="submit" class="btn btn-block btn-outline-primary">Keep me informed!</button>
              </div>
            </div>
            <div id="messages"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock main %}

{% block extra_js %}
  <script>
    $(document).ready(function() {

    {% if user.is_authenticated %}

      var triggerPoint = $("#visitors").offset().top;
      var didShowModal = false;

      $(window).scroll(function() {
        if (didShowModal == false && $(window).scrollTop() > triggerPoint) {
          $('#cta-modal').modal();
          didShowModal = true;
        }
      });

    {% endif %}

      var form = $("#mailchimp-form");
      var messages = $("#messages");

      form.submit(function(event) {

        event.preventDefault();

        var url = form.attr("action");

        $.ajax({
          type: form.attr('method'),
          url: url,
          data: form.serialize(),
          success: function(result) {

            document.getElementById("mailchimp-form").reset();

            var msg = ""
            var data = result['result'];

            if (data['error']) {
              msg = data['error']
              messages.addClass("text-danger")
              
            } else if (data['success']) {
              msg = data['success']
              messages.addClass("text-white")
            }

            messages.html(msg);
          },
          error: function(result) {
            console.log("---- error")
            console.log(error)
          }
        });
      })
    });
  </script>
{% endblock extra_js %}
