{% extends 'home/layout.html' %}

{% load static wagtailimages_tags %}

{% block main %}

<!-- cover -->
<section class="p-0">
  <div 
    class="swiper-container text-white"
    data-top-top="transform: translateY(0px);" 
    data-top-bottom="transform: translateY(250px);"
  >
    <div class="swiper-wrapper">
      {% for item in page.cover_images.all %}
      <div class="swiper-slide vh-80">
          {% image item.image width-1800 as cover_image %}
        <div class="image image-overlay image-blured" style="background-image:url({{ cover_image.url }})"></div>
        <div class="caption">
          <div class="container">
            <div class="row justify-content-between vh-80">
              <div class="col-md-8 offset-md-2 align-self-center" data-swiper-parallax-y="-250%">
                {% image page.logo original as img_logo %}
                <div 
                  class="vh-25" 
                  style="
                    background-image:url({{ img_logo.image.file.url }});
                    background-size:contain;
                    background-repeat:no-repeat;
                    background-position:center;
                  "
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>        
      {% endfor %}
      <div class="swiper-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-vertical"></div>
  </div>
</section>
<!-- / cover -->

{% include 'home/partials/cta.html' with title=page.discover_title subtitle=page.discover_text link=page.discover_link_1 link_text=page.discover_link_text link2=page.discover_link_2 link2_text=page.discover_link2_text %}

{% if page.features.all %}
  {% include 'home/partials/features.html' with list=page.features.all title=page.feature_title %}
{% endif %}

{% if page.masonry_images.all %}
  {% include 'home/partials/home_masonry.html' with list=page.masonry_images.all %}
{% endif %}

{% if latest_articles %}
  {% include 'home/partials/news_widget.html' with list=latest_articles %}
{% endif %}

{% include 'home/partials/news_letter.html' with title=page.newsletter_title info_text=page.newsletter_info %}

{% if page.numbers.all and page.number_title %}
  {% include 'home/partials/numbers.html' with numbers=page.numbers.all title=page.number_title img=page.number_image %}
{% endif %}

{% if page.recent_visitors.all %}
  {% include 'home/partials/visitors.html' with list=page.recent_visitors.all title=page.visit_title info_text=page.visit_text %}
{% endif %}

{% endblock main %}
