{% extends 'base.html' %}

{% load static %}

{% block body_class %}
  
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock extra_css %}

{% block content %}

  {% block header %}
    {% include 'partials/header.html' %}
  {% endblock header %}

  {% block main %}{% endblock main %}

  {% block footer %}
    {% include 'partials/footer.html' %}
  {% endblock footer %}

{% endblock content %}

{% block extra_js %}{% endblock extra_js %}