{% extends 'home/layout.html' %}

{% block main %}
  <section class="hero hero-with-header pt-10 pb-5">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">{{ page.title }}</b></h1>
          <p>{{ page.introduction }}</p>
        </div>
      </div>
    </div>    
  </section>

  {% include 'home/partials/founding_partners.html' with list=page.founding_partners text=page.founding_text %}

  {% include 'home/partials/structural_partners.html' with list=page.structural_partners text=page.structural_text %}

  {% include 'home/partials/trusted_members.html' with list=page.trusted_members text=page.trusted_text %}

{% endblock main %}