{% extends 'home/layout.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sop_page.css' %}">
{% endblock extra_css %}

{% block main %}

  <!-- cover -->
  {% include 'home/partials/article_cover.html' with title=page.title img=page.cover_image %}

  <section class="pt-5 pb-7">
    <div class="container">
      <div class="row justify-content-center mb-0">
        <div class="col-md-8 col-lg-6">
          <p class="lead text-center">{{ page.intro }}</p>
          <hr class="w-50 mb-1">
        </div>
      </div>
      <div class="row justify-content-end mb-0">
        <div id="">
          <a href="#lang_nl" class="btn btn-with-ico btn-primary mb-0">
            Naar NL <i class="icon-angle-right"></i>
          </a>
        </div>
      </div>
    {% for block in page.content %}
      {% include_block block %}
    {% endfor %} 
    </div>
  </section>

{% endblock main %}