{% extends 'home/layout.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

  <!-- cover -->
  {% include 'home/partials/article_cover.html' with title=page.title img=page.cover_image previous=previous %}

  <section class="pt-5 pb-7">
    <div class="container">
      <div class="row justify-content-center mb-1">
        <div class="col-md-10 col-lg-8">
          <p class="lead text-center">{{ page.intro }}</p>
          <hr class="w-50">
        </div>
      </div>
    {% for block in page.content %}
      {% include_block block %}
    {% endfor %} 
    </div>
  </section>

{% endblock main %}