{% load static wagtailimages_tags %}

<div class="row justify-content-center my-3">
  <div class="col-md-10 offset-md-1">
    <div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="true">
    {% for item in value %}
      {% image item.image fill-800x480 as tmp_photo %}
      <a role="button" href="#" data-toggle="modal" data-target="#corona-modal">
        <figure class="photo">
          <img src="{{ tmp_photo.url }}" alt="Image" class="hh-image">
        </figure>
      </a>
    {% endfor %}
    </div>
  </div>
  <div id="corona-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content bg-secondary">
        <div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="false">
        {% for item in value %}
          {% image item.image fill-1200x720 as tmp_photo %}
          <figure class="photo">
            <img src="{{ tmp_photo.url }}" alt="Image" class="hh-image">
          </figure>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
