{% extends 'home/layout.html' %}

{% load widget_tweaks %}

{% block main %}

  <section class="bg-white">
    <div class="container">
      {% for visitor in page.event.visitors.all %}
        {{visitor}}
      {% endfor %}
      {{ remaining_places }}
      <div class="row">
        <div class="col-lg-5">
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
              <label for="exampleFormControlSelect1">{{ field.label }}</label>
              {% render_field field class+="form-control" %}
              </div>
            {% endfor %}
            {% if form.errors %}
              {{form.errors}}
            {% endif %}
            {% if messages %}
              {% for message in messages %}
                {{message}}
              {% endfor %}
            {% endif %}
            {% if remaining_places == 0 %}
              <div class="text-danger">
                This event is fully booked!
              </div>
            {% endif %}
            <input type="submit" value="Continue" class="btn btn-primary mt-2" {% if remaining_places == 0 %}disabled{% endif %} />
          </form>
        </div>
        <div class="col-lg-6 offset-lg-1">
          <div class="media align-items-center mb-0">
            <i class="icon-basic_pin1 fs-40 mb-1 mr-1 text-primary"></i>
            <div class="media-body">
              <h5 class="fs-20 font-weight-normal">Address</h5>
            </div>
          </div>
          <p class="pl-5 mb-0">{{ settings.home.HealthHouseSettings.location }}</p>
          <p class="pl-5 mb-0">{{ settings.home.HealthHouseSettings.location.street }} {{settings.home.HealthHouseSettings.location.number}}</p>
          <p class="pl-5 mb-0">{{ settings.home.HealthHouseSettings.location.city }}</p>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}