{% extends 'home/layout.html' %}

{% block main %}

  <section class="bg-white">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2>Visitors ({{page.event.visitors.count}} / {{page.event.max_attendees}})</h2>
          <h4 class="text-primary">{{ page.event.title }}</h4>
          <div class="d-flex flex-column mt-3">
          {% for visitor in page.event.visitors.all %}
            <div class="row">
              <div class="col-1">{{ forloop.counter }}</div>
              <div class="col-2">{{ visitor.last_name }}</div>
              <div class="col-2">{{ visitor.first_name }}</div>
              <div class="col-2">{{ visitor.company }}</div>
              <div class="col-2">{% if visitor.phone %}{{ visitor.phone }}{% endif %}</div>
              <div class="col-2">{{ visitor.email }}</div>
            {% if visitor.diet_info and visitor.diet_info != '' %}
              <div class="col-8 offset-1">
                <p class="text-primary"><b class="text-primary">Diet info: </b> {{ visitor.diet_info }}</p>
              </div>
            {% endif %}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock main %}