<div class="row justify-content-center mb-3">
  <div class="col-md-10 col-lg-8">
  {% if value.internal_link %}
    <a href="{{ value.interal_link }}" class="btn btn-with-ico btn-primary mb-2">
      {{ value.button_text }} <i class="icon-angle-right"></i>
    </a>
  {% elif value.external_link %}
    <a href="{{ value.external_link }}" class="btn btn-with-ico btn-primary mb-2" target="_blank">
      {{ value.button_text }} <i class="icon-angle-right"></i>
    </a>
  {% else %}
    <p>***************</p>
    {{value }}
  {% endif %}
  </div>
</div>