{% load static wagtailimages_tags home_tags %}

{% with color=value.background_color position=value.image_position %}

<div class="container-full p-0 m-0">
  {% image value.image width-1200 as img %}
  <div class="row hh-parallax bg-{{ color }} align-items-center">
    <div 
      class="col-xl-8 col-lg-7 col-md-6 hh-parallax-bg hh-image-{{ position }} hh-border-{{ position|inverse_position }}-{{ color }} m-0"
      style="background-image:url({{ img.url }})"
    ></div>
    <div class="col-xl-4 col-lg-5 col-md-6 m-0 {% if position == 'right' %}order-md-first{% endif %}">
      <div class="text-center {% if color != 'white' %}text-white{% endif %} p-5">
        <h2>{{ value.title }}</h2>
        <p>{{ value.info_text }}</p>
        {% for item in value.links %}
          <a
            href="{{ item.url }}"
          {% if color == 'primary' %}
            class="btn btn-{% if forloop.counter|divisibleby:'2' %}outline-{% endif %}dark-blue mb-1 mr-1"
          {% else %}
            class="btn btn-{% if forloop.counter|divisibleby:'2' %}outline-{% endif %}primary mb-1 mr-1"
          {% endif %}
          >
            {{ item }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endwith %}
