{% load static wagtailimages_tags %}

{% image value.image width-900 as image %}

<div class="col-md-6 p-0 m-0 bg-{{ color }}">
  <div style="position: absolute; width: 100%; height: 100%; background-image: url({{ image.file.url }}); opacity: 0.2;" ></div>
  <div class="row">
    <div class="col-lg-9 {% if pos == 'right' %}offset-lg-3{% endif %} text-{{ text_color }} text-center px-5 py-10">
        <h2>{{ value.title }}</h2>
        <p>{{ value.info_text }}</p>
        {% for item in value.links %}
          <a
            href="{{ item.url }}"
            class="btn btn-{% if forloop.counter|divisibleby:'2' %}outline-{% endif %}{{ btn_color }} mb-1 mr-1"
          >
            {{ item }}
          </a>
        {% endfor %}
        {% for item in value.external_links %}
            <a
            href="{{ item.url }}"
            class="btn btn-{% if forloop.counter0|divisibleby:'2' %}outline-{% endif %}{{ btn_color }} mb-1 mr-1"
            target="_blank"
          >
            {{ item.title }}
          </a>
        {% endfor %}
        {% for item in value.mail_links %}
            <a
            href="mailto:{{ item.url }}"
            class="btn btn-{% if forloop.counter0|divisibleby:'2' %}outline-{% endif %}{{ btn_color }} mb-1 mr-1"
          >
            {{ item.title }}
          </a>
        {% endfor %}
    </div>
  </div>
</div>