<!-- accordion minimal -->
<section class="component">
  <div class="tab-content">
    <div class="tab-pane show active bg-light" role="tabpanel" aria-labelledby="component-2-1">
      <div class="component-example">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
              <div class="accordion-group accordion-group-minimal" data-accordion-group>
                {% for item in list %}
                <div class="accordion" data-accordion>
                  <div class="accordion-control" data-control>
                    <h5>{{ item.question }}</h5>
                  </div>
                  <div class="accordion-content" data-content>
                    <div class="accordion-content-wrapper">
                      <p>{{ item.answer }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / accordion minimal -->