{% load static %}

<!-- users -->
<section class="component">
  <div class="tab-content" id="component-1">

    <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
      <div class="component-example">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{% static 'images/demo/user-1.jpg' %}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>John Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3">
              <figure class="user user-circle">
                <a href="" class="user-photo">
                  <img src="{% static 'images/demo/user-2.jpg' %}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>John Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials socials-sm bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-3">
              <figure class="user">
                <a href="" class="user-photo">
                  <img src="{% static 'images/demo/user-1.jpg' %}" alt="Avatar">
                </a>
                <figcaption class="user-caption">
                  <h4>John Doe</h4>
                  <span>Head of Experience Design</span>
                  <ul class="socials bordered">
                    <li><a href="" class="icon-facebook fs-20"></a></li>
                    <li><a href="" class="icon-instagram fs-20"></a></li>
                    <li><a href="" class="icon-twitter fs-20"></a></li>
                    <li><a href="" class="icon-linkedin fs-20"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / users -->