{% load wagtailimages_tags %}

<!-- partners -->
<section class="component">
  <div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-lg-6 text-center">
          <h2 class="text-dark-blue">{{ title }}</h2>
          <p class="lead">{{ info_text }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col partners align-items-center">
          <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
            {% for item in list %}
            <a href="{{ item.visitor.url }}">
              <div class="logo">
                {% image item.visitor.logo height-120 %}
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>
<!-- / partners -->