header {
  border-radius: 0.25rem;
  margin: 15px;
  width: calc(100% - 30px);
}

input:disabled {
  cursor: not-allowed
}

div.rich-text > p > b {
  color: darkgray;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.dropdown-menu .dropdown-item > span{
  color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #29245a;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	25% {
		transform: translatey(4px);
  }
  50% {
		transform: translatey(0px);
  } 
  75% {
		transform: translatey(-4px);
  } 
	100% {
		transform: translatey(0px);
	}
}

.btn-outline-primary:hover a, .btn-outline-primary a:hover {
  color: white;
}

#corona-tags button, #button-tags-reset {
  display: inline-block;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  color: #00a1dd;
  background-color: transparent;
  background-image: none;
  border: 1px solid #00a1dd;
  margin-bottom: 0.625rem !important;
  margin-right: 0.625rem !important;
  border-radius: 0.25rem;
  cursor: pointer;
}

#corona-tags button:hover, #corona-tags button:active, #corona-tags button.active, #button-tags-reset:hover, #button-tags-reset.active {
  color: #fff;
  background-color: #00a1dd;
  border-color: #00a1dd;
}

img.hh-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hh-parallax .hh-parallax-bg {
  height: 30rem;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

.hh-parallax2 {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
}

.hh-card {
  padding: 2rem;
  min-height: 30rem;
}

[class*="rounded"].shadow {
  border-radius: 0.25rem !important;
}

.rounded-left.img-fluid {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

.hh-list {
  color: #999}

.bg-primary-alpha {
  background-color: #00a1dddd;
}

.bg-white-alpha {
  background-color: #ffffffdd;
}

.bg-dark-blue-alpha {
  background-color: #29245add;
}

.pattern::before, .pattern::after {
  border-radius: 0px;
}

.accordion-control.inactive {
  cursor: default;
} 

.accordion-control.inactive::after {
  content: '';
} 

.logo-sm {
  max-height: 7rem;
}

.hh-email::before {
  content: "\f003";
}

.hh-hover:hover {
  background-color: #00a1dd;
  color: white;
}

.hh-hover:hover p {
color: rgba(255, 255, 255, 0.5);
}

.blockquote::before {
  color: #00a1dd99;
}

.accordion-group-minimal .accordion-control::after {
  color: white;
  background-color: #00a1dd;
}

.tooltip-inner  {
  padding: 1rem;
  background-color: #00a1dd;
  border-radius: 0.75rem;
}

.tooltip .arrow::before {
  border-bottom-color: #00a1dd;

}

/* ROTATING CARD */
.hh-rotate {
  -webkit-perspective: 100%;
  perspective: 100%;
}

.hh-rotate:hover .rotate-container, .hh-rotate.hover .rotate-container {
  transform: rotateY(180deg);
}

.hh-rotate, .front, .back {
  width: 100%;
  height: 400px;
}

.hh-rotate .rotate-container {
  transition: 0.8s;
  transform-style: preserve-3d;

  position: relative;
}

.hh-rotate .front, .hh-rotate .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.hh-rotate .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.hh-rotate .back {
  transform: rotateY(180deg);
}

#covid-detail .owl-carousel-single .owl-nav button.owl-prev, #covid-detail .owl-carousel-single .owl-nav button.owl-next {
  width: 3.7rem;
  height: 3.7rem;
}

#covid-detail .owl-nav button.owl-next::before, #covid-detail .owl-nav button.owl-prev::before {
  line-height: 3.7rem;
}

@media (min-width: 768px) {
  .hh-parallax {
    height: 38rem;
  }
  
  .hh-parallax .hh-parallax-bg {
    min-height: 100%;
    width: 60%;
    background-attachment: fixed;
  }

  .hh-parallax .hh-image-left {
    border-right: 10rem solid;
    border-top: 38rem solid transparent;
  }

  .hh-parallax .hh-image-right {
    border-left: 10rem solid;
    border-top: 38rem solid transparent;
  }
  
  .hh-parallax .hh-border-right-primary {
    border-right-color: #00a1dd !important;
  }

  .hh-parallax .hh-border-left-primary {
    border-left-color: #00a1dd !important;
  }

  .hh-parallax .hh-border-right-white {
    border-right-color: white !important;
  }
  
  .hh-parallax .hh-border-left-white {
    border-left-color: white !important;
  }

  .hh-parallax .hh-border-right-dark-blue {
    border-right-color: #29245a !important;
  }
  
  .hh-parallax .hh-border-left-dark-blue {
    border-left-color: #29245a !important;
  }
}

@media (max-width: 575.98px) { 
  #corona-tags button {
    font-weight: 400;
    font-size: 1.15rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (min-width:992px) {
  .modal-lg, .modal-xl {
    max-width:800px
  }

  .news-cta {
    position: fixed;
    right: 0px;
    top: 25vh;
    z-index: 1000;  
  }

  .news-cta_header {
    border: 5px solid #00a1dd;
    border-right: none;
    background-color: #29245a;
    background-color: #00a1dd;
    background-color: white;
    box-shadow: 5px -5px 3px #29245aaa; 
    transform: skew(0deg, 13deg);
  }

  .news-cta_header__text {
    font-size: 1.5em;
    margin: 20px;
    padding-right: 20px;
    writing-mode: vertical-rl;
    transform: skew(0deg, -13deg);
  }

  .news-cta_content {
    border: 5px solid #00a1dd;
    border-left: none;
    border-right: none;
    background-color: #29245a;
    background-color: #00a1dd;
    background-color: white;
    box-shadow: 2.7px -8px 4px #29245aaa; 
  }

  .news-cta_content__inner {
  }

  .news-cta_part3 {
    flex-grow: 3;
    border: 5px solid #00a1dd;
    border-left: none;
    background-color: #29245a;
    background-color: #00a1dd;
    background-color: white;
    box-shadow: 0px -8px 4px #29245aaa; 
  }

  .news-cta_part3__inner {
  }
}

@media (min-width: 1200px) {

  .header-sticky[class*="-unpinned"] {
    -webkit-transform: translate(0, -120%);
    -moz-transform: translate(0, -120%);
    transform: translate(0, -120%);
    }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.35rem;
    padding-left: 0.35rem;
  }

  .modal-xl {
      max-width:1140px
  }
}

