img.hh-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hh-parallax .hh-parallax-bg {
  height: 30rem;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

.pattern::before, .pattern::after {
  border-radius: 0px;
}

@media (min-width: 768px) {
  .hh-parallax {
    height: 38rem;
  }
  
  .hh-parallax .hh-parallax-bg {
    min-height: 100%;
    width: 60%;
    background-attachment: fixed;
  }

  .hh-parallax .hh-image-left {
    border-right: 10rem solid;
    border-top: 38rem solid transparent;
  }

  .hh-parallax .hh-image-right {
    border-left: 10rem solid;
    border-top: 38rem solid transparent;
  }
  
  .hh-parallax .hh-border-right-primary {
    border-right-color: #00a1dd !important;
  }

  .hh-parallax .hh-border-left-primary {
    border-left-color: #00a1dd !important;
  }

  .hh-parallax .hh-border-right-white {
    border-right-color: white !important;
  }
  
  .hh-parallax .hh-border-left-white {
    border-left-color: white !important;
  }

  .hh-parallax .hh-border-right-dark-blue {
    border-right-color: #29245a!important;
  }
  
  .hh-parallax .hh-border-left-dark-blue {
    border-left-color: #29245a !important;
  }
}