{% extends 'home/layout.html' %}

{% load static home_tags wagtailcore_tags wagtailimages_tags %}

{% block main %}

  <section class="hero hero-with-header pt-10 pb-5"  id="news">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h1 class="mb-1">{{ page.title }}</b></h1>
          <p style="font-size: 1.25rem">{{ page.intro }}</p>
        </div>
        <div class="col-md-12 pt-5" id="corona-tags">
        </div>
      </div>
    </div>    
  </section>

  <section class="pt-0 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul class="row gutter-2 pl-0">
          {% for item in page.articles %}
            {% image item.cover_image width-500 as img %}
            <li class="col-sm-6 col-md-4 col-lg-3 sort-item" data-item-tags="{% for tag in item.tags.all %}{{tag}}{% if forloop.last %}{% else %},{% endif %}{% endfor %}">
              <article class="tile">
                <div class="tile-image" style="background-image: url({{ img.url }}); filter:brightness(66%);"></div>
                <a href="{% pageurl item %}">
                  <div class="tile-footer">
                    <h3 class="text-white">{{ item.title }}</h3>
                  </div>
                </a>
              </article>
            </li>
          {% endfor %}
          </ul>
        </div> 
      </div>
    </div>
  </section>
{% endblock main %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/tagsort.js' %}"></script>
  <script>

    $(document).ready(function() {

      console.log("ready")

      $('#corona-tags').tagSort({
        items:'.sort-item',
        tagElement: 'button',
        itemTagsSeperator: ',',
        tagAttr: 'data-item-tags',
        fadeTime: 300,
        sortAlphabetical: true,
        sortType: 'single',
      });
    });
  </script>
{% endblock extra_js %}