{% extends 'home/layout.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

  <!-- cover -->
  {% include 'home/partials/article_cover.html' with title=page.title img=page.cover_image previous=previous author=page.author %}

  <div class="container mb-5" id="covid-detail">

    <div class="row mt-4 mb-2">
      <div class="col-lg-6 col-xs-12">
        <div class="w-100">
          <div class="row justify-content-center mb-3">
            <div class="col-md-12">
              {% if page.author %}<p class="lead text-primary font-weight-bold">{{ page.author }}</p>{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="w-100">
          {% for block in page.content %}
            {% include_block block %}
          {% endfor %} 
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="w-100">
          {% for block in page.sidebar %}
            {% include_block block %}
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>

  <!-- news -->
  {% comment %} {% if page.latest_articles %}
  <section class="bg-light pattern pattern-dark separator-top py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Latest News</h2>
        </div>
      </div>
      <div class="row gutter-2">
        {% for item in other_articles %}


        {% image item.cover_image fill-450x450 as tmp_img %}
        <div class="col-md-6 col-lg-4">
            <article class="tile">
              <div
                class="tile-image"
                style="background: linear-gradient(
                  rgba(0, 0, 0, 0.3), 
                  rgba(0, 0, 0, 0.3)
                ), url({{ tmp_img.url }})"
              ></div>
              <a href="{{ item.url }}">
                <div class="tile-header">
                  <span class="eyebrow mb-1"> </span>
                  <h3 class="text-white">{{ item.title }}</h3>
                </div>
                <div class="tile-footer">
                  <button class="btn btn-ico btn-outline-white btn-rounded">
                    <i class="icon-arrow-right2 fs-20"></i>
                  </button>
                </div>
              </a>
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- / news -->
  {% endif %} {% endcomment %}

{% endblock main %}

{% block extra_js %}
  <script>

    $(document).ready(function() {

      $(function () {
        $('[data-toggle="tooltip"]').tooltip('show')
      })
    });
  </script>
{% endblock extra_js %}