{% extends 'home/layout.html' %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block main %}
  <section>
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated">Search results</h1>
        </div>
      </div>

    {% if search_results %}
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row gutter-1">
          {% for result in search_results %}
            <div class="col-12">
              <div class="boxed scaling p-2">
                <div class="row align-items-center justify-content-between">
                  <div class="col-sm-9">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <h5 class="mb-0">{{ result }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 text-md-right">
                  {% if result.page %}
                    <a href="{% pageurl result.page %}" class="btn btn-primary"> 
                      More
                    </a>
                  {% else %}
                    <a href="{% pageurl result %}" class="btn btn-primary"> 
                      More
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    {% elif search_query %}
        No results found
    {% endif %}
    </div>
  </section>
{% endblock %}
