{% load static %}

<footer class="bg-dark text-white">
  <div class="separator-bottom py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <p class="lead">{{ settings.home.HealthHouseSettings.tagline }}</p>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="socials">
          {% for link in settings.home.HealthHouseSettings.related_links.all %}
            <li>
              <a href="{{ link.link_external }}" class="icon-{{ link.icon }} fs-20"></a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-1">
          <img class="logo-sm" src="{% static 'images/hh/hh_logo_edited.png' %}" alt="Logo">
        </div>
        {% comment %} <span class="copyright-text">© GO. 2018 All Right Reserved</span> {% endcomment %}
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          {% comment %} <li class="list-group-item"><a href="">Programs</a></li>
          <li class="list-group-item"><a href="">Trainers</a></li>
          <li class="list-group-item"><a href="">Spa</a></li>
          <li class="list-group-item"><a href="">Events</a></li>
          <li class="list-group-item"><a href="">Schedule</a></li> {% endcomment %}
        </ul>
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          {% comment %} <li class="list-group-item"><a href="">Contacts</a></li>
          <li class="list-group-item"><a href="">About Us</a></li>
          <li class="list-group-item"><a href="">Legal Information</a></li> {% endcomment %}
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right">
        <a href="tel:{{ settings.home.HealthHouseSettings.phone_number }}" class="phone bordered">
            {{ settings.home.HealthHouseSettings.phone_number }}
        </a>
        {% comment %} <div class="mb-2"></div>
        <a href="mailto:{{ settings.home.HealthHouseSettings.email }}" class="email bordered">
            {{ settings.home.HealthHouseSettings.email }}
        </a> {% endcomment %}
      </div>
    </div>
  </div>
</footer>