{% load home_tags wagtailcore_tags %}

<footer class="bg-dark-blue text-white">
  <div class="separator-bottom py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <p class="lead">{{ settings.home.HealthHouseSettings.tagline }}</p>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="socials">
          {% for link in settings.home.HealthHouseSettings.related_links.all %}
            <li>
              <a href="{{ link.link_external }}" class="icon-{{ link.icon }} fs-20"></a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="separator-bottom py-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="mb-1">
            <img class="logo-sm" src="{{ settings.home.HealthHouseSettings.logo_white.file.url }}" alt="Logo">
          </div>
        </div>
        <div class="col col-lg-2">
          <ul class="list-group list-group-minimal">
          {% menu_items as menu_items %}
          {% for item in menu_items %}
            <li class="list-group-item">
              <a href="{% pageurl item %}">{{ item.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="col col-lg-3">
          <ul class="list-group list-group-minimal">
            {% comment %} <li class="list-group-item"><a href="">Contacts</a></li>
            <li class="list-group-item"><a href="">About Us</a></li>
            <li class="list-group-item"><a href="">Legal Information</a></li> {% endcomment %}
          </ul>
        </div>
        <div class="col-12 col-lg-4 col-xl-3 text-lg-right">
          <a href="tel:{{ settings.home.HealthHouseSettings.phone_number }}" class="phone bordered">
              {{ settings.home.HealthHouseSettings.phone_number }}
          </a>
          <div class="mb-2"></div>
          <a href="mailto:{{ settings.home.HealthHouseSettings.email }}" class="hh-email phone bordered">
              {{ settings.home.HealthHouseSettings.email }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-right py-1">
    Created by <a href="mailto:tim@thinkmobile.be" class="text-primary">Think Mobile</a>
  </div>
</footer>