 {% load static wagtailcore_tags home_tags menu_tags %}   
    
<header class="header-sticky header-light bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo navbar-logo-light" src="{% static 'images/hh/hh_logo_minimal.png' %}" alt="Logo">
        <img class="navbar-logo navbar-logo-dark" src="{% static 'images/hh/hh_logo_minimal.png' %}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      {% get_menu 'main-navigation' as navigation %}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">

        {% for item in navigation.menu_items.all %}
          {% with item.link_page.get_specific.subpages as subitemlist %}

          <li class="nav-item {% if item.children.all %}dropdown{% endif %}">
          {% if item.children.all %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% else %}
            <a class="nav-link" href="{{ item.link }}">
          {% endif %}
              {{ item.title }}
            {% if item.children.all %}
              </a>
              <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              {% for subitem in item.children.all %}
              <a class="dropdown-item" href="{{ subitem.link }}">
                <span>{{ subitem.title }}</span>
              </a>
              {% endfor %}
              </div>
            {% else %}
            </a>
            {% endif %}
          </li>
          {% endwith %}
        {% endfor %}

        </ul>
        <form class="form-inline" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              <i class="icon-search text-white"></i>
            </button>
        </form>
      </div>
    </nav>
  </div>
</header>
