 {% load static wagtailcore_tags home_tags %}   
    
<header class="header-sticky header-light bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo navbar-logo-light" src="{% static 'images/hh/hh_logo_minimal.png' %}" alt="Logo">
        <img class="navbar-logo navbar-logo-dark" src="{% static 'images/hh/hh_logo_minimal.png' %}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Discover
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'discover'  %}#experience-center">
                <span>Expo</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'discover'  %}#meeting-rooms">
                <span>Meeting rooms</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'discover'  %}#storylines">
                <span>Storylines</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'discover'  %}#projects">
                <span>Projects</span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              News
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'news'  %}#news">
                <span>News</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'news'  %}#press">
                <span>Press</span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'about'  %}#mission">
                <span>Mission & Vision</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'about'  %}#team">
                <span>Team</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'about'  %}#faq">
                <span>FAQ</span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partners
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'our-partners'  %}#founding">
                <span>Founding</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'our-partners'  %}#structural">
                <span>Structural</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'our-partners'  %}#trusted">
                <span>Trusted members</span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'contact'  %}#contact">
                <span>Contact us</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'contact'  %}#directions">
                <span>Map & Directions</span>
              </a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% slugurl 'calendar'  %}">
                <span>Calendar</span>
              </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Covid-19
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% slugurl 'sop'  %}">
                <span>SOP</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% slugurl 'corona'  %}">
                <span>Health Innovations</span>
              </a>
            </div>
          </li>
        </ul>
        <form class="form-inline" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              <i class="icon-search text-white"></i>
            </button>
        </form>
      </div>
    </nav>
  </div>
</header>
