 {% load static wagtailcore_tags %}   
    
    <!-- header -->
    <header class="header-sticky header-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">
            <img class="navbar-logo navbar-logo-light" src="{% static 'images/hh/hh_logo_edited.png' %}" alt="Logo">
            <img class="navbar-logo navbar-logo-dark" src="{% static 'images/hh/hh_logo_rgb.png' %}" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  Discover
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  News
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" role="button">
                  Partners
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- header -->