  <section class="component mb-3" id="directions">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <span class="eyebrow mb-1 text-primary">How to get here</span>
          <h2>Directions</h2>
        </div>
      </div>
    </div>
    <div class="tab-content" id="component-1">
      <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
        <div class="component-example py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="nav nav-pills nav-vertical">
                {% for item in directions %}
                  <a class="nav-item nav-link lavalamp-item {% if forloop.first %}active show{% endif %}" data-toggle="tab" href="#tabs-{{forloop.counter}}">
                    {{item.transportation_means}}
                  </a>
                {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
              {% for item in directions %}
                <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="tabs-{{forloop.counter}}" role="tabpanel" aria-labelledby="#tabs-{{forloop.counter}}">
                  <ul class="text-gray">
                  {% for bullet in item.bullets.all %}
                    <li>{{bullet}}</li>
                  {% endfor %}
                  </ul>
                </div>      
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- / vertical -->