<section class="py-0">
  <div class="tab-content" id="component-1">
    <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
      <div class="component-example">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="nav nav-tabs nav-vertical lavalamp"><div class="lavalamp-object ease"></div>
                <a class="nav-item nav-link lavalamp-item" data-toggle="tab" href="#demo-6-1">First Tab</a>
                <a class="nav-item nav-link lavalamp-item" data-toggle="tab" href="#demo-6-2">Second Tab</a>
                <a class="nav-item nav-link lavalamp-item active show" data-toggle="tab" href="#demo-6-3">Third Tab</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tab-content" id="demo-6">
                <div class="tab-pane" id="demo-6-1" role="tabpanel" aria-labelledby="demo-6-1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error maxime minima commodi vel excepturi repudiandae numquam beatae dignissimos quod accusamus ab perferendis, quibusdam, officiis aspernatur aut vero assumenda voluptatum pariatur.</p>
                </div>
                <div class="tab-pane" id="demo-6-2" role="tabpanel" aria-labelledby="demo-6-2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat unde veniam qui dicta exercitationem deserunt vel suscipit quas sequi at inventore perferendis aperiam nisi itaque necessitatibus, saepe molestiae iste, accusamus.</p>
                </div>
                <div class="tab-pane active show" id="demo-6-3" role="tabpanel" aria-labelledby="demo-6-3">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas voluptate, asperiores maiores perspiciatis itaque aliquam ut blanditiis qui! Porro, ad eligendi sequi omnis deleniti obcaecati quod ut, optio eos?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>