{% load wagtailcore_tags wagtailimages_tags %}

<section class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>Upcoming events</h2>
      </div>
    </div>
    <div class="row" data-aos="fade-left">
      <div class="col">
        <div class="owl-carousel visible" data-items="[4, 2, 1]" data-nav="true" data-margin="10">
        {% for item in list %}
          {% image item.image fill-700x700 as temp_img %}
          <a href="{{ item.link }}" target="_blank">
            <div class="card">
              <img class="card-img" src="{{ temp_img.url }}" style="filter: brightness(70%)">
              <div class="card-img-overlay d-flex flex-column justify-content-between">
                <h4 class="text-white font-weight-bold">{{ item.date|date:'M j' }}</h4>
                <h5 class="text-white card-title">{{ item.title }}</h5>
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <a href="{% slugurl 'calendar' %}" class="btn btn-with-ico btn-primary mb-2">
      Calendar overview <i class="icon-angle-right"></i>
    </a>
  </div>
</section>
  