{% load wagtailimages_tags %}

<section class="bg-secondary pattern pattern-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>News overview</h2>
      </div>
    </div>
    <div class="row" data-aos="fade-left">
      <div class="col">
        <div class="owl-carousel visible" data-items="[4]" data-nav="true" data-margin="10">
        {% for item in list %}
          {% image item.cover_image fill-400x400 as temp_img %}
          {{ item.cover_img }}
          <a href="{{ item.url }}" class="user-photo">
            <figure class="user">
              <img src="{{ temp_img.url }}" style="filter: brightness(75%)">
              <figcaption class="user-caption">
              <h4>{{ item.title }}</h4>
              <ul class="socials">
                <button type="button" class="btn btn-with-ico btn-primary">Read more <i class="icon-angle-right"></i></button>
              </ul>
            </figcaption>
          </figure>
        </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
  