<div class="bg-blue text-white">
  <div class="container">
    <div class="p-4">
      <div class="row align-items-center">
        <div class="col-md-2">
          <i class="svg-icon fs-60 text-white">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,1c14.359,0,27,12.641,27,27S46.359,55,32,55
                c-10,0-13-4-13-4" style="stroke-dasharray: 99px, 101px; stroke-dashoffset: 0px;"></path>
              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M12,28A20,20 0,1,1 52,28A20,20 0,1,1 12,28" style="stroke-dasharray: 126px, 128px; stroke-dashoffset: 0px;"></path>
              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,54L32,64" style="stroke-dasharray: 10px, 12px; stroke-dashoffset: 0px;"></path>
              <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M22,63L42,63" style="stroke-dasharray: 20px, 22px; stroke-dashoffset: 0px;"></path>
              </svg>
            </i>
        </div>
        <div class="col-md-8">
          <h3 class="mb-1 text-white">Malesuada Euismod Inceptos Fusce</h3>
          <p class="mb-3">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod.</p>
          <!-- <h3 class="mb-1 text-white">{{ title }}</h3>
          <p class="mb-3">{{ info_text }}</p> -->
          <form action="https://health-house.us13.list-manage.com/subscribe/post" method="POST">
            <input type="hidden" name="u" value="d5419bf6a7b18de40b57ab673">
            <input type="hidden" name="id" value="9bb5a9f1da">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white text-primary" id="basic-addon2">@</span>
              </div>
              <input 
                type="email"
                autocapitalize="off"
                autocorrect="off"
                name="MERGE0"
                id="MERGE0"
                id="email"
                value=""
                placeholder="Email"
                aria-describedby="basic-addon2"
                class="form-control text-dark-blue"
              >
              <div class="col-auto">
                  <button type="submit" class="btn btn-dark-blue">Submit</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>