{% load wagtailimages_tags %}

<section class="section-lg separator-bottom pt-5">
  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-lg-8">
            <h2>A good place to build your startup</h2>
          </div>
        </div>
        <div class="row gutter-1">
          <div class="col-md-6 col-lg-4 text-dark">
            <div class="accordion-group accordion-group-feature" data-accordion-group="">
              <div class="accordion aos-init aos-animate" data-accordion="" data-aos="fade-up">
                <div class="accordion-control" data-control="">
                  <i class="fw-25 svg-icon fs-50 text-primary">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M6,32A26,26 0,1,1 58,32A26,26 0,1,1 6,32" style="stroke-dasharray: 164px, 166px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,20L32,32L40,36" style="stroke-dasharray: 21px, 23px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M21.995,56.005L15,63" style="stroke-dasharray: 10px, 12px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M49,63L42.005,56.005" style="stroke-dasharray: 10px, 12px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,8L5,4L15,6L3,18Z" style="stroke-dasharray: 44px, 46px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M59,4L63,8L61,18L49,6Z" style="stroke-dasharray: 44px, 46px; stroke-dashoffset: 0px;"></path>
                    </svg>
                  </i>
                  <h4 class="fs-16">Outdoors</h4>
                </div>
                <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden; transition: max-height 300ms ease;">
                  <div class="accordion-content-wrapper">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bidet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bathroom <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Toilet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Free toiletries <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Hairdryer <i class="icon-check2 fs-20"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-dark">
            <div class="accordion-group accordion-group-feature" data-accordion-group="">
              <div class="accordion aos-init aos-animate" data-accordion="" data-aos="fade-up">
                <div class="accordion-control" data-control="">
                  <i class="fw-25 svg-icon fs-50 text-primary">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M7,0L7,64" style="stroke-dasharray: 64px, 66px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32.062,6L26,11L26,35L57,35L51,23L57,11L26,11" style="stroke-dasharray: 121px, 123px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M26,30L7,30L7,6L32,6L32,11" style="stroke-dasharray: 73px, 75px; stroke-dashoffset: 0px;"></path>
                    </svg>
                  </i>
                  <h4 class="fs-16">Food &amp; Drink</h4>
                </div>
                <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden;">
                  <div class="accordion-content-wrapper">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bidet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bathroom <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Toilet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Free toiletries <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Hairdryer <i class="icon-check2 fs-20"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 text-dark">
            <div class="accordion-group accordion-group-feature" data-accordion-group="">
              <div class="accordion aos-init aos-animate" data-accordion="" data-aos="fade-up">
                <div class="accordion-control" data-control="">
                  <i class="fw-25 svg-icon fs-50 text-primary">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,1c14.359,0,27,12.641,27,27S46.359,55,32,55
                      c-10,0-13-4-13-4" style="stroke-dasharray: 99px, 101px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M12,28A20,20 0,1,1 52,28A20,20 0,1,1 12,28" style="stroke-dasharray: 126px, 128px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,54L32,64" style="stroke-dasharray: 10px, 12px; stroke-dashoffset: 0px;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M22,63L42,63" style="stroke-dasharray: 20px, 22px; stroke-dashoffset: 0px;"></path>
                    </svg>
                  </i>
                  <h4 class="fs-16">Amenities</h4>
                </div>
                <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden;">
                  <div class="accordion-content-wrapper">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bidet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bathroom <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Toilet <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Free toiletries <i class="icon-check2 fs-20"></i>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Hairdryer <i class="icon-check2 fs-20"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-3 presentation presentation-responsive">
        {% image url width-1000 as img%}
        <img class="left-25 vertical-align" src="{{ img.url }}" alt="Image">
      </div>
    </div>
  </div>
</section>