{% load wagtailimages_tags %}

<section class="section-lg separator-bottom pt-5">
  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-lg-8">
            <h2>{{ title }}</h2>
          </div>
        </div>
        <div class="row gutter-1">
        {% for item in numbers %}
        <div class="offset-md-3 col-md-6 offset-lg-0 col-lg-4 text-dark">
            <div class="accordion-group accordion-group-feature" data-accordion-group="">
              <div class="accordion aos-init aos-animate" data-accordion="" data-aos="fade-up">
                <div class="accordion-control" data-control="">
                  <p class="fs-40 text-primary">{{ item.number }}</p>
                  <h4 class="fs-24">{{ item.identifier }}</h4>
                </div>
                <div class="accordion-content" data-content="" style="max-height: 0px; overflow: hidden; transition: max-height 300ms ease;">
                  <div class="accordion-content-wrapper">
                    <ul class="list-group list-group-minimal">
                      {% for bullet in item.bullets.all %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ bullet }} <i class="icon-check2 fs-20"></i>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>   
        {% endfor %}
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-3 presentation presentation-responsive">
        {% image img width-1000 as img %}
        <img class="left-25 vertical-align" src="{{ img.url }}" alt="Image">
      </div>
    </div>
  </div>
</section>