{% load static %}
<div>DIT IS DE CONTENT VAN OWL_CAROUSEL.HTML</div>
<div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="true">
  {% for image in list %}
  <figure class="photo">
      <img src="{{ image.file.url }}" alt="Image">
    </figure>
  {% endfor %}
  <figure class="photo">
    <img src="{% static 'images/demo/coworking/coworking-1.jpg' %}" alt="Image">
  </figure>
  <figure class="photo">
    <img src="{% static 'images/demo/coworking/coworking-2.jpg' %}" alt="Image">
  </figure>
  <figure class="photo">
    <img src="{% static 'images/demo/coworking/coworking-1.jpg' %}" alt="Image">
  </figure>
</div>