{% load wagtailimages_tags %}

<!-- services -->
<section class="pt-0 pattern pattern-dark">
  <div class="container">
    <div class="row boxed separated">
      {% for partner in partners %}
      <div class="col-md-6 col-lg-4 p-5 text-center d-flex flex-column justify-content-between">
        <a href="{{ partner.url }}">
          {% image partner.logo height-250 class='img-fluid' %}
        </a>
        <h4 class="fs-24 font-weight-normal">{{ partner.name }}</h4>
        <p>{{ partner.description }}</p>
        <button type="button" class="btn btn-with-ico btn-primary">Website <i class="icon-plus2"></i></button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- / services -->