{% load wagtailimages_tags %}

<!-- services -->
<section class="pt-0">
  <div class="container">
    <div class="row boxed separated">
      {% for item in list %}
      <div class="col-md-6 col-lg-4 col-xl-3 p-5 text-center d-flex flex-column justify-content-between">
        <a href="{{ partner.url }}">
          {% image item.logo max-135x135 class='img-fluid' %}
        </a>
        <h4 class="fs-24 font-weight-normal">{{ item.name }}</h4>
        <p>{{ item.description }}</p>
        <button type="button" class="btn btn-with-ico btn-primary">Website <i class="icon-plus2"></i></button>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- / services -->