  <section class="component">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="nav nav-tabs mb-2">
            {% for item in list %}
            <a class="nav-item nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#tab-{{ forloop.counter }}">
              <h4 class="text-black">{{ item.title }}</h4>
            </a>
            {% endfor %}
          </div>
          <div class="tab-content">
            {% for item in list %}
            <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="tab-{{ forloop.counter }}" role="tabpanel" aria-labelledby="tab-{{ forloop.counter }}">
              <p>{{ item.description }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
