{% load static wagtailimages_tags %}

<section class="component pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2><b>Core</b> team</h2>
      </div>
    </div>
    <div class="row">
    {% for item in core_team %}
      <div class="col-lg-4 col-md-6 mb-3">
      {% image item.picture fill-500x500 as img %}
        <figure class="user">
          <a href="" class="user-photo">
            <img src="{{ img.url }}" alt="{{ item.name }}" style="width: 100%">
          </a>
          <figcaption class="user-caption">
            <h4>{{ item.name }}</h4>
            <span>{{ item.title }}</span>
            <div class="socials">
              <button class="social btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ item.id }}">Show more</button>
            </div>
          </figcaption>
        </figure>
      </div>
      {% include 'home/partials/user_modal.html' with item=item %}
    {% endfor %}
    </div>
    {% if board_team %}
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2><b>Board</b> of directors</h2>
      </div>
    </div>
    {% endif %}
    <div class="row">
    {% for item in board_team %}
      <div class="col-lg-3 col-md-6 mb-3">
      {% image item.picture fill-500x500 as img %}
        <figure class="user">
          <a href="" class="user-photo">
            <img src="{{ img.url }}" alt="{{ item.name }}" style="width: 100%">
          </a>
          <figcaption class="user-caption">
            <h4>{{ item.name }}</h4>
            <span>{{ item.title }}</span>
            <div class="socials">
              <button class="social btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ item.id }}">Show more</button>
            </div>
          </figcaption>
        </figure>
      </div>
      {% include 'home/partials/user_modal.html' with item=item %}
    {% endfor %}
    </div>
  </div>
</section>