<section class="m-0 py-5">
  <div class="container mb-0">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="text-center">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="container mt-0">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="owl-carousel accent" data-loop="true" data-autoplay="true" data-autoplay-speed="7000" data-animate-out="fadeOut">
        {% for item in list %}
          <blockquote class="blockquote blockquote-1 text-primary">
            <p class="text-dark">{{ item.quote }}</p>
            <footer class="blockquote-footer">
              <div class="media align-items-center">
                <div class="media-body ml-2">
                  <span class="d-block mb-0 text-primary">{{ item.name }}</span>
                {% if item.company %}
                  <small>{{ item.company}}</small>
                {% endif %}
                </div>
              </div>
            </footer>
          </blockquote>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
