{% load wagtailimages_tags %}

<!-- MODAL -->
<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-image">
          {% image item.picture fill-500x500 as img %}
        <img src="{{ img.url }}" alt="Image" class="modal-image">
        <button type="button" class="close close-absolute" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-x"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3 class="mb-0">{{ item.name }}</h3>
        <p>{{ item.title }}</p>
        <div>
          <p>{{ item.bio }}</p>
        </div>
      </div>
      {% comment %} <div class="modal-footer gutter-1">
        <div class="container-fluid">
          <div class="row gutter-1">
            <div class="col-8">
              <button type="button" class="btn btn-block btn-primary">Save changes</button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-block btn-red">Cancel</button>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>