{% load wagtailimages_tags %}

<!-- MODAL -->
<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-image">
          {% image item.picture fill-400x400 as img %}
        <img src="{{ img.url }}" alt="Image" class="img-fluid" style="width: 100%">
        <button type="button" class="close close-absolute" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-x"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3 class="mb-0">{{ item.name }}</h3>
        <p>{{ item.title }}</p>
        <div>
          <p class="text-left">{{ item.bio }}</p>
        </div>
      </div>
      {% if item.email %}
      <div class="modal-footer gutter-1">
        <div class="container-fluid">
          <div class="row gutter-1">
            <div class="col-12">
              <a href="mailto:{{item.email}}" class="btn btn-block btn-outline-primary">Contact</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>