{% extends 'home/layout.html' %}

{% block main %}
<div class="viewport">
  <div class="image image-overlay image-blur" style="background-image:url({{ settings.home.HealthHouseSettings.error_image }})"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-6 col-lg-4 text-white text-center">
        <h1 class="error-text">500</h1>
        <p>Something really went wrong ... </a></p>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block 'footer' %}{% endblock 'footer' %}
