{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="{% static 'images/hh/favicon.png' %}">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="Health House is a unique visitor center which showcases the future of health and care" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="health house,health,healthcare,visitor center,experience center,future of health,health leuven">

        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127819406-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-127819406-1');
        </script>

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PNVGP3H');
        </script>
        <!-- End Google Tag Manager -->

    </head>

    <body class="{% block body_class %}{% endblock %}">

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PNVGP3H"
                height="0"
                width="0"
                style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}

        <script type="text/javascript" src="{% static 'js/vendor.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <script type="text/javascript" id="cookieinfo" src="{% static 'js/cookiescript.min.js' %}"
            data-height="50px"
            data-bg="#29245a"
            data-font-family="Rubik, sans-serif"
            data-font-size="18px"
            data-fg="#ffffff99"
            data-divlinkbg="#00a1dd"
            data-divlink="#fff"
            data-close-text="Agree"
            data-moreinfo="{% slugurl 'privacy-policy' %}"
        >
        </script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
